@model string[]

@{
    ViewBag.Title = "Ekran Paylaş";
}
<div>
    <div class="welcome">
        <div class="screen-image"><img src="@Model.First()" alt="ada"></div>
        <span class="cekildi">Ekran Paylaş İle Çekildi</span>
        <br clear="all">
    </div>
    <div class="reks">
        <div class="buyuk-reklam"><img src="/Content/images/728reklam.png" width="728" height="90" alt="aaa"></div>
        <br clear="all">
        <div class="kare-reklam"><img src="/Content/images/300reklam.png" width="300" height="250" alt="asda"></div>
        <div class="facebook-com"><img src="/Content/images/yorum.png" width="300" height="241" alt="aaa"></div>
        <div class="begen-kutusu"><img src="/Content/images/begen.png" width="350" height="241" alt="aa">
        </div>
        <br clear="all">
    </div>
    <br clear="all">
</div>