html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	-moz-outline:none;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
html{
	overflow:auto;
}
body {
	width:100%;
	height:100%;
	line-height:1;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0 auto;
	background-color: #FFF;
	background-image: url(images/bg.png);
	background-position: center top;
	background-repeat: repeat;
}
a, a:hover{
	text-decoration:none;
}
input[type=button], input[type=reset]{
    cursor:pointer;
}
::-moz-focus-inner {
    border :0px;
    outline:0;
    -moz-outline:none;
}
input[type="submit"]:focus, input[type="button"]:focus {
	outline : none;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none;
}
:focus {
	outline:0;
}
ins {
	text-decoration:none;
}
del {
	text-decoration:line-through;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}.header {
	background-image: url(images/laci.png);
	background-repeat: repeat-x;
	height: 67px;
}
.header .header-ortala {
	height: 67px;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
.header .header-ortala .logo {
	float: left;
	height: 27px;
	width: 174px;
	margin-top: 18px;
}
.header .header-ortala .freetrial {
	background-image: url(images/denemsurum.png);
	background-repeat: no-repeat;
	float: right;
	height: 38px;
	width: 354px;
	margin-top: 14px;
	display: block;
	background-color:transparent;
}
.container {
	width: 980px;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
}
.container .welcome {
	background-image: url(images/feater.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 100px;
}
.container .welcome .wel-text {
	float: left;
	width: 680px;
	margin-bottom: 15px;
	margin-top: 15px;
}
.container .welcome .wel-sag {
	float: right;
	width: 260px;
	margin-left: 15px;
	margin-top: 15px;
}
.container .ozellikler-tabl {
	margin-top: 7px;
	background-image: url(images/feater2.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 20px;
}
.container .ozellikler-tabl .ozelliler-baslik {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-family: "Segoe UI Semibold";
	color: #2C0D0E;
	font-size: 24px;
	text-shadow: 0.05em 0.05em 0.2em #F8F3E7;
	margin-bottom: 40px;
}
.container .ozellikler-tabl .ozellik-kutu {
	float: left;
	width: 480px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 10px;
}
.container .ozellikler-tabl .ozellik-kutu .oz-baslik {
	display: block;
	width: 300px;
	font-family: "Segoe UI Semibold";
	font-size: 24px;
	color: #1C212D;
	background-image: url(images/crop.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 60px;
	line-height: 58px;
	height: 60px;
}
.container .ozellikler-tabl .ozellik-kutu .oz-yazi {
	width: 470px;
	float: left;
	color: #5D5A54;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	line-height: 23px;
	padding-left: 8px;
	display: block;
	margin-top: 5px;
}


.container .welcome .wel-text .wel-baslik {
	float: left;
	height: 73px;
}
.container .welcome .wel-text .wel-yazi {
	float: left;
	width: 605px;
	display: block;
	margin-top: 8px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	line-height: 30px;
	color: #785348;
}
.container .welcome .wel-sag .down-logo {
	float: right;
	height: 18px;
	width: 113px;
	margin-right: 3px;
	margin-bottom: 5px;
}
.container .welcome .wel-sag .for-win {
	background-image: url(images/for-win.png);
	background-repeat: no-repeat;
	display: block;
	float: right;
	height: 66px;
	width: 223px;
	margin-top: 5px;
}
#upload {
	background-image: url(images/bulut.png);
}
#esnek-editor {
	background-image: url(images/esnek.png);
}
#kolay-kullanim {
	background-image: url(images/kolay.png);
}
#goz {
	background-image: url(images/goz.png);
}
#yuksek-uyumluluk {
	background-image: url(images/el.png);
}

#mac {
	background-image: url(images/for-mac.png);
}
.container .screenshot {
	float: left;
	width: 480px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.container .screenshot img {
	margin-top: 8px;
	background-color: #FFF;
	padding: 5px;
}

.container .screenshot .shot-baslik {
	display: block;
	float: left;
	width: 480px;
	font-family: "Segoe UI";
	font-size: 22px;
	color: #481417;
	text-shadow: 0.05em 0.05em 0.2em #F8F3E7;
	margin-bottom: 10px;
	font-weight: bold;
}
.container .screenshot .screen {
	background-color: #FFF;
	height: 140px;
	width: 211px;
	border: 1px solid #DEC891;
	float: left;
	margin-top: 8px;
	margin-right: 27px;
	margin-bottom: 10px;
}
.container .screenshot .screen .zoom {
	background-image: url(images/zoom.png);
	height: 36px;
	width: 37px;
	position: absolute;
	display: block;
	float: right;
	margin-left: 165px;
	margin-top: -6px;
}
.container .screenshot .screen img {
	margin: 4px;
}
.footer-bg {
	background-image: url(images/footer-bg.png);
	background-repeat: repeat-x;
	height: 67px;
}
.footer-bg .foot-ortala {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	height: 67px;
}
.footer-bg .foot-ortala .copy {
	float: left;
	width: 350px;
}
.footer-bg .foot-ortala .copy .text-foot {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #88614E;
	display: block;
	height: 20px;
	line-height: 20px;
	float: left;
	width: 350px;
}
.footer-bg .foot-ortala .copy .logo-foot {
	float: left;
	height: 27px;
	width: 174px;
	display: block;
	margin-top: 13px;
	margin-bottom: 7px;
}
.footer-bg .foot-ortala .foot-links {
	float: right;
	height: 67px;
	width: 600px;
}
.footer-bg .foot-ortala .foot-links ul li {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #88614E;
	display: block;
	padding-right: 7px;
	padding-left: 7px;
	float: right;
	margin-top: 32px;
	margin-right: 10px;
	margin-left: 10px;
}
.footer-bg .foot-ortala .foot-links ul li a {
	color: #87604D;
}
.footer-bg .foot-ortala .foot-links ul li a:hover {
	color: #491517;
}
.container .welcome .screen-image {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
.container .welcome .screen-image img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0px 0px 15px rgba(20,20,20,0.6);
	background-color: #FFF;
	padding: 8px;
}
.container .welcome .cekildi {
	display: block;
	width: 300px;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
	font-family: "Segoe UI Semibold";
	font-size: 14px;
	color: #2C0C0D;
	text-align: center;
}
.container .reks .buyuk-reklam {
	height: 90px;
	width: 728px;
	margin-right: auto;
	margin-left: auto;
}
.container .reks .kare-reklam {
	float: left;
	height: 250px;
	width: 300px;
	margin-top: 15px;
	margin-right: 10px;
}
.container .reks .facebook-com {
	float: left;
	width: 300px;
	margin-top: 15px;
	margin-right: 15px;
}
.container .reks .begen-kutusu {
	float: left;
	width: 350px;
	margin-top: 15px;
}
.container .ozellikler-tabl .alt-yazi {
	font-family: "Segoe UI";
	font-size: 15px;
	line-height: 25px;
	color: #333333;
}
.container .ozellikler-tabl .alt-yazi a     {
	color: #2C0C0D;
}
.container .ozellikler-tabl .alt-yazi strong {
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	display: block;
}