@{
    ViewBag.Title = "Ekran Paylaş";
}
            <div class="welcome">
                <div class="wel-text">
                    <div class="ozelliler-baslik" style="font-size: 25px">Ekran görüntüsü paylaşmanın en kolay yolu.</div>

                    <span class="wel-yazi"><strong>Ekran Paylaş bilgisayar ekranınızdaki görüntüyü istediğiniz anda printscreen tuşuna basarak elde etmenizi sağlayan bir programdır. Ekran görüntüsünü belirledikten sonra isterseniz anında sunucularımıza yükleyebilir isterseniz bilgisayarınıza kaydedebilir ve düzenleyebilir isterseniz de Facebook ve Twitter gibi sosyal ağlarda anında sevdiklerinizle paylaşabilirsiniz. Yapmanız gereken şey çok basit, klavyenizdeki printscreen tuşuna basmanız yeterli...</strong></span>
                </div>
                <div class="wel-sag">
                    <div class="down-logo"><img src="/Content/images/logo-kck.png" width="113" height="18" alt="aa" /></div>
                    <a href="/installer/setup.exe" class="for-win"></a>
                </div>
                <br clear="all" />
            </div>
            <div class="ozellikler-tabl">
                <div class="ozelliler-baslik style1">Ekran Görüntüsü Al, Anında Yükle, Anında Düzenle, Anında Paylaş</div>
                <div class="ozellik-kutu">
                    <span class="oz-baslik">Hızlı Seçim</span>
                    <span class="oz-yazi">Ekran görüntüsünü mouse yardımıyla dilediğiniz gibi belirleyebilirsiniz.</span>
                </div>
                <div class="ozellik-kutu">
                    <span id="upload" class="oz-baslik">İnternete Yükle</span>
                    <span class="oz-yazi">Belirlediğiniz ekran görüntüsünü saniyeler içerisinde webe yükleyebilir ve paylaşabilirsiniz.</span>
                </div>
                <div class="ozellik-kutu">
                    <span id="esnek-editor" class="oz-baslik">Esnek Editör</span>
                    <span class="oz-yazi">Belirlediğiniz ekran görütüsünde istediğiniz düzenlemeleri yaparak kaydedebilir ve yükleyebilirsiniz.</span>
                </div>
                <div class="ozellik-kutu">
                    <span id="kolay-kullanim" class="oz-baslik">Kolay Kullanım</span>
                    <span class="oz-yazi">Gereksiz özelliklern olmadığı basit bir arayüz.</span>
                </div>
                <br clear="all" />
            </div>
<br clear="all" />