@{
    ViewBag.Title = "Index";
}
<div>
    <div class="welcome">
        <div class="wel-text">
            <div class="wel-baslik"><img src="/Content/images/hosgeldiniz.png" width="381" height="73" alt="aa"></div>
            <span class="wel-yazi">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse hendrerit ligula quis velit pharetra egestas. Ut molestie elit non massa. Vivamus tincidunt bibendum velit. Quisque nisl diam, nonummy eu, lobortis consequat, mollis ut, tellus. In iaculis.</span>
        </div>
        <div class="wel-sag">
            <div class="down-logo"><img src="/Content/images/logo-kck.png" width="113" height="18" alt="aa"></div>
            <a href="#" class="for-win"></a>
            <a id="mac" href="#" class="for-win"></a>
        </div>
        <br clear="all">
    </div>
    <div class="ozellikler-tabl">
        <div class="ozelliler-baslik">Ekran Görüntünü Anında Düzenle, Anında Paylaş,</div>
        <div class="ozellik-kutu">
            <span class="oz-baslik">Hızlı Seçim</span>
            <span class="oz-yazi">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse hendrerit ligula quis velit pharetra egestas. Ut molestie elit non massa. Vivamus tincidunt bibendum velit. </span>
        </div>
        <div class="ozellik-kutu">
            <span id="upload" class="oz-baslik">Hızlı Upload</span>
            <span class="oz-yazi">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse hendrerit ligula quis velit pharetra egestas. Ut molestie elit non massa. Vivamus tincidunt bibendum velit. </span>
        </div>
        <div class="ozellik-kutu">
            <span id="esnek-editor" class="oz-baslik">Esnek Editör</span>
            <span class="oz-yazi">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse hendrerit ligula quis velit pharetra egestas. Ut molestie elit non massa. Vivamus tincidunt bibendum velit. </span>
        </div>
        <div class="ozellik-kutu">
            <span id="kolay-kullanim" class="oz-baslik">Kolay Kullanım</span>
            <span class="oz-yazi">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse hendrerit ligula quis velit pharetra egestas. Ut molestie elit non massa. Vivamus tincidunt bibendum velit. </span>
        </div>
        <div class="ozellik-kutu">
            <span id="goz" class="oz-baslik">Daha Kolay Kullanım</span>
            <span class="oz-yazi">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse hendrerit ligula quis velit pharetra egestas. Ut molestie elit non massa. Vivamus tincidunt bibendum velit. </span>
        </div>
        <div class="ozellik-kutu">
            <span id="yuksek-uyumluluk" class="oz-baslik">Yüksek Uyumluluk</span>
            <span class="oz-yazi">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse hendrerit ligula quis velit pharetra egestas. Ut molestie elit non massa. Vivamus tincidunt bibendum velit. </span>
        </div>
        <br clear="all">
    </div>
    <div class="screenshot">
        <span class="shot-baslik">Screenshots</span>
        <div class="screen">
            <a href="#" class="zoom"></a>
            <img src="/Content/images/ornek-image.png" width="203" height="132" alt="aaa"></div>  
        <div class="screen">
            <a href="#" class="zoom"></a>
            <img src="/Content/images/ornek-image.png" width="203" height="132" alt="aaa"></div>
        <div class="screen">
            <a href="#" class="zoom"></a>
            <img src="/Content/images/ornek-image.png" width="203" height="132" alt="aaa"></div>
        <div class="screen">
            <a href="#" class="zoom"></a>
            <img src="/Content/images/ornek-image.png" width="203" height="132" alt="aaa"></div>
    </div>
    <div class="screenshot">
        <span class="shot-baslik">Tanıtım Videosu</span>
        <br>
        <img src="/Content/images/ornek-video.png" width="436" height="284" alt="ada">
    </div>
    <br clear="all">
</div>